# Web Scraping - Assignment - 4

# Importing Required Libraries

In [7]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Import selenium webdriver 
from selenium import webdriver

#Import required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException

#Import requests
import requests

#Importing regex
import re

#Import support drivers
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

#Import Time Out Exception
from selenium.common.exceptions import TimeoutException
from datetime import datetime

#Suppress warnings for a clean notebook
import warnings
warnings.filterwarnings('ignore')

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
 You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [10]:
#activate and load the chrome browser
driver=webdriver.Chrome('C:/Users/stead/Documents/KYC/chromedriver.exe')
driver.maximize_window()

#open the URL
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')
driver.implicitly_wait(3)

# Let's click and open the search list
search_button=driver.find_element_by_xpath("//a[@class='external text']")
search_button.click()

#click the first search result 
list_search=driver.find_element_by_xpath("//ul[@class='mw-search-results']/li[1]/div/a")
list_search.click()

#create an empty lists to store the scraping data
Rank=[]
Name=[]
Artist=[]
Views=[]
Upload_Date=[]

#create a function to get the details of most viewed video on youtube
rank = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)
name = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in name:
    Name.append(i.text)
artist = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in artist:
    Artist.append(i.text)
view = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in view:
    Views.append(i.text)
date = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in date:
    Upload_Date.append(i.text)
    
#create the dataframe from the scraped data
You_tube_videos=pd.DataFrame({})
You_tube_videos['Rank']=Rank[0:30]
You_tube_videos['Video Name']=Name[0:30]
You_tube_videos['Artist']=Artist[0:30]
You_tube_videos['Upload Date']=Upload_Date[0:30]
You_tube_videos['Views (Billions)']=Views[0:30]
You_tube_videos

,Rank,Video Name,Artist,Upload Date,Views (Billions)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.44
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.32
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.29
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.24
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.08
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.43
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.16
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.05
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.97
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.95
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.78
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.45
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.43
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.34
14,15.,"""Dame Tu Cosita""[40]",El Chombo,"April 5, 2018",3.28
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.27
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.24
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.05
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.05
19,20.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.05
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",3.02
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.01
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.01
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.97
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.90
25,26.,"""Wheels on the Bus""[51]",Cocomelon – Nursery Rhymes,"May 24, 2018",2.89
26,27.,"""Hello""[52]",Adele,"October 22, 2015",2.83
27,28.,"""Perfect""[53]",Ed Sheeran,"November 9, 2017",2.82
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.80
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.77

# 2.Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [11]:
#activate and load the chrome browser
driver=webdriver.Chrome('C:/Users/stead/Documents/KYC/chromedriver.exe')
driver.maximize_window()

#open the URL
driver.get('https://www.bcci.tv/')
driver.implicitly_wait(3)

#navigate to the international fixtures page
international_fixture=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]/a")
driver.get(international_fixture.get_attribute('href'))

#create an empty lists to store the scraping data
Match_title=[] 
Series=[]
Place=[] 
Date=[] 
Time=[]

#create a function to get the Match details
title = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for i in title:
    Match_title.append(i.text)
series = driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[2]')
for i in series:
    Series.append(i.text)
place = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
for i in place:
    Place.append(i.text)
date = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
month = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
for i in range(len(date)):
    Date.append(date[i].text+month[i].text)
time = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')
for i in time:
    Time.append(i.text)
    
#create the dataframe from the scraped data
IF_ICC=pd.DataFrame({})
IF_ICC['Match Title']=Match_title
IF_ICC['Series']=Series
IF_ICC['Place']=Place 
IF_ICC['Date']=Date
IF_ICC['Time']=Time
IF_ICC

,Match Title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP FINAL,"The Ageas Bowl, Southampton",18JUNE,15:30 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12AUGUST,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25AUGUST,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [13]:
#activate and load the chrome browser
driver=webdriver.Chrome('C:/Users/stead/Documents/KYC/chromedriver.exe')
driver.maximize_window()

#open the URL
driver.get('https://www.guru99.com/')
driver.implicitly_wait(3)

#click on the selenium exception page 
driver.find_element_by_xpath("//div[@class='srch']/span[8]/a").click()

#click on the selenium exception tutorial link
driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").click()


#create an empty lists to store the scraping data
Name=[]
Description=[]

#create a function
name = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in name:
    Name.append(i.text)
description = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for i in description:
    Description.append(i.text)
    
#create the dataframe from the scraped data
guru99=pd.DataFrame({})
guru99['Exception Name']=Name[1:]
guru99['Description']=Description[1:]
guru99

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [14]:
#activate and load the chrome browser
driver=webdriver.Chrome('C:/Users/stead/Documents/KYC/chromedriver.exe')
driver.maximize_window()

#open the URL
driver.get('http://statisticstimes.com/')
driver.implicitly_wait(3)

#click on the economy and then on India from there
Economy_India=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
driver.get(Economy_India.get_attribute('href')) 

#click on the GDP of Indian states 
GDP_Indian_States=driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]/a")
driver.get(GDP_Indian_States.get_attribute('href'))

#create an empty lists to store the scraping data
Rank=[] 
State=[] 
GSDP_Year_2019_to_Year_2020=[] 
GSDP_Year_2018_to_Year_2019=[] 
Share_Year_2018_to_2019=[] 
GDP_Dollar_Billion=[]

#create a function
rank = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)
state = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')
for i in state:
    State.append(i.text)
gdsp_19_20 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
for i in gdsp_19_20:
    GSDP_Year_2019_to_Year_2020.append(i.text)
gdsp_18_19 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')
for i in gdsp_18_19:
    GSDP_Year_2018_to_Year_2019.append(i.text)
share = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    Share_Year_2018_to_2019.append(i.text)
gdp_dollar = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdp_dollar:
    GDP_Dollar_Billion.append(i.text)
    
    
#create the dataframe from the scraped data
GSDP=pd.DataFrame({})
GSDP['Rank']=Rank 
GSDP['State']=State
GSDP['GSDP (Cr INR at Current prices) Year 2018-2019']=GSDP_Year_2018_to_Year_2019 
GSDP['GSDP (Cr INR at Current prices) Year 2019-2020']=GSDP_Year_2019_to_Year_2020 
GSDP['Share Year 2018-2019']=Share_Year_2018_to_2019 
GSDP['GDP ($ Billion)']=GDP_Dollar_Billion
GSDP

,Rank,State,GSDP (Cr INR at Current prices) Year 2018-2019,GSDP (Cr INR at Current prices) Year 2019-2020,Share Year 2018-2019,GDP ($ Billion)
0,1,Maharashtra,"2,632,792",-,13.88%,398.145
1,2,Tamil Nadu,"1,630,208","1,845,853",8.59%,246.529
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.35%,239.656
3,4,Gujarat,"1,502,899",-,7.92%,227.276
4,5,Karnataka,"1,493,127","1,631,977",7.87%,225.798
5,6,West Bengal,"1,089,898","1,253,832",5.75%,164.820
6,7,Rajasthan,"942,586","1,020,989",4.97%,142.543
7,8,Andhra Pradesh,"862,957","972,782",4.55%,130.501
8,9,Telangana,"861,031","969,604",4.54%,130.210
9,10,Madhya Pradesh,"809,592","906,672",4.27%,122.431
10,11,Kerala,"781,653",-,4.12%,118.206
11,12,Delhi,"774,870","856,112",4.08%,117.180
12,13,Haryana,"734,163","831,610",3.87%,111.024
13,14,Bihar,"530,363","611,804",2.80%,80.204
14,15,Punjab,"526,376","574,760",2.77%,79.601
15,16,Odisha,"487,805","521,275",2.57%,73.768
16,17,Assam,"315,881",-,1.67%,47.769
17,18,Chhattisgarh,"304,063","329,180",1.60%,45.982
18,19,Jharkhand,"297,204","328,598",1.57%,44.945
19,20,Uttarakhand,"245,895",-,1.30%,37.186
20,21,Jammu & Kashmir,"155,956",-,0.82%,23.584
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.265
22,23,Goa,"73,170","80,449",0.39%,11.065
23,24,Tripura,"49,845","55,984",0.26%,7.538
24,25,Chandigarh,"42,114",-,0.22%,6.369
25,26,Puducherry,"34,433","38,253",0.18%,5.207
26,27,Meghalaya,"33,481","36,572",0.18%,5.063
27,28,Sikkim,"28,723","32,496",0.15%,4.344
28,29,Manipur,"27,870","31,790",0.15%,4.215
29,30,Nagaland,"27,283",-,0.14%,4.126
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.721
31,32,Mizoram,"22,287","26,503",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [15]:
#activate and load the chrome browser
driver=webdriver.Chrome('C:/Users/stead/Documents/KYC/chromedriver.exe')
driver.maximize_window()

#OPEN the url
url=('https://github.com/')
driver.get(url)


#navigate to the trending option and click on it
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

#create an empty lists to store scraping data
Repository_Title=[]
Repository_Description=[] 
Contributors_Count=[] 
Language_Used=[]
urls=[]

#create a function
rep_title=driver.find_elements_by_xpath('//article[@class="Box-row"]/h1/a')
descriptions=driver.find_elements_by_xpath('//article[@class="Box-row"]/p')
for i in [rep_title,descriptions]:
    for j in i:
        if i ==rep_title:
            Repository_Title.append(j.text)
            urls.append(j.get_attribute('href'))
        if i==descriptions:
            Repository_Description.append(j.text)
for url in urls:
    driver.get(url)
    driver.implicitly_wait(3)
    div_list=driver.find_elements_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div')
    try:
        Contributors_Count.append(((div_list[-2].text).split())[1])
    except:
        Contributors_Count.append('-')
    try:
        Language_Used.append(((div_list[-1].text).split())[1::2])
    except:
        Language_Used.append('-')

#check the length of the scrape data        
print(len(Repository_Title),len(Repository_Description),len(Contributors_Count),len(Language_Used))

25 23 25 25

In [17]:
#create the dataframe from the scraped data
Repositoriy=pd.DataFrame({})
Repositoriy['Repository Title']=Repository_Title[0:23]
Repositoriy['Repository Description']=Repository_Description[0:23]
Repositoriy['Contributors Count']=Contributors_Count[0:23]
Repositoriy['Language Used']=Language_Used[0:23]
Repositoriy

,Repository Title,Repository Description,Contributors Count,Language Used
0,supabase / supabase,The open source Firebase alternative. Follow t...,91,"[TypeScript, JavaScript, CSS, Other]"
1,Kotlin / kmm-production-sample,openpilot is an open source driver assistance ...,3,"[Kotlin, Swift]"
2,commaai / openpilot,Standard Go Project Layout,174,"[C++, C, Python, Shell, Perl, Makefile, Other]"
3,golang-standards / project-layout,An advanced Twitter scraping & OSINT tool writ...,34,[Makefile]
4,raydium-io / raydium-ui,仅用查看文档,3,"[TypeScript, Vue, Other]"
5,twintproject / twint,"京东到家果园庄园脚本,电报群:https://t.me/joinchat/wH4Ks3mT6...",62,"[Python, Dockerfile]"
6,wisz2021 / jd_docker,it is a repository to store all slides used by...,2,"[Shell, JavaScript, Dockerfile, Python]"
7,passerby-b / JDDJ,循序渐进，学习Spring Boot、Spring Boot & Shiro、Spring ...,-,[JavaScript]
8,TritonHo / slides,List of Computer Science courses with video le...,-,[Go]
9,wuyouzhuguli / SpringAll,Use Android as Rubber Ducky against another An...,2,"[Java, HTML, CSS, Other]"
10,Developer-Y / cs-video-courses,😏 LeetCode solutions in any programming langua...,-,"[44, 33]"
11,androidmalware / android_hid,A C++ standalone library for machine learning,-,[Shell]
12,doocs / leetcode,Osintgram is a OSINT tool on Instagram. It off...,68,"[Java, Python, C#, C++, JavaScript, Go, Other]"
13,flashlight / flashlight,Automated Binance trading bot - Buy low/Sell h...,45,"[C++, Jupyter, 34.0%, 4.9%, 1.3%, 1.0%, 0.3%, ..."
14,Datalux / Osintgram,📝 Algorithms and data structures implemented i...,12,"[Python, Makefile, Dockerfile]"
15,chrisleekr / binance-trading-bot,"Powerful, Extensible Dev Tools",5,"[JavaScript, CSS, HTML, Dockerfile]"
16,trekhleb / javascript-algorithms,WinBox is a professional HTML5 window manager ...,139,[JavaScript]
17,nrwl / nx,"Wave - The Software as a Service Starter Kit, ...",270,"[TypeScript, JavaScript, Other]"
18,nextapps-de / winbox,分享 GitHub 上有趣、入门级的开源项目,2,"[JavaScript, Less]"
19,thedevdojo / wave,Object detection and instance segmentation too...,2,"[PHP, Blade, Shell]"
20,521xueweihan / HelloGitHub,「Rustでもわかるシステムプログラミング」,11,[Python]
21,PaddlePaddle / PaddleDetection,Terraform provider for Azure Resource Manager,55,"[Python, Jupyter, 28.3%, 2.7%, 2.0%, 0.7%, 0.6..."
22,yuk1ty / learning-systems-programming-in-rust,The OWASP Cheat Sheet Series was created to pr...,4,[Rust]

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [18]:
#activate and load the chrome browser
driver=webdriver.Chrome('C:/Users/stead/Documents/KYC/chromedriver.exe')
driver.maximize_window()

#open the URL
driver.get('https://www.billboard.com/')
driver.implicitly_wait(3)

#navigate and click on the Top 100 Songs
driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a").click()

#create an empty lists to store the scraping data
Song_Name=[]
Artist_Name=[] 
Last_Week_Rank=[] 
Peak_Rank=[]
Weeks_on_Board=[]

#create a function
song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in song:
    Song_Name.append(i.text)
artist = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in artist:
    Artist_Name.append(i.text)
lastweek = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in lastweek:
    Last_Week_Rank.append(i.text)
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak:
    Peak_Rank.append(i.text)
weeks = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in weeks:
    Weeks_on_Board.append(i.text)
    
#create the dataframe from the scraped data
TOP_100_SONGS=pd.DataFrame({})
TOP_100_SONGS['Song_name']=Song_Name
TOP_100_SONGS['Artist_name']=Artist_Name
TOP_100_SONGS['Last_week_rank']=Last_Week_Rank
TOP_100_SONGS['Peak_rank']=Peak_Rank
TOP_100_SONGS['Weeks_on_board']= Weeks_on_Board
TOP_100_SONGS

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Rapstar,Polo G,1,1,2
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),3,1,7
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,4,1,5
3,Montero (Call Me By Your Name),Lil Nas X,2,1,4
4,Levitating,Dua Lipa Featuring DaBaby,6,5,29
...,...,...,...,...,...
95,Go!,Moneybagg Yo Featuring BIG30,-,96,1
96,Drankin N Smokin,Future & Lil Uzi Vert,-,31,12
97,Monsters,All Time Low Featuring Demi Lovato & blackbear,95,55,17
98,Slatty,Young Thug & Gunna Featuring Yak Gotti & Lil Duke,-,99,1
99,4 Da Gang,42 Dugg & Roddy Ricch,84,67,3

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [19]:
#activate and load the chrome browser
driver=webdriver.Chrome('C:/Users/stead/Documents/KYC/chromedriver.exe')
driver.maximize_window()

#open the URL
driver.get('https://www.naukri.com/')
driver.implicitly_wait(3)

#navigate and clciking on the recruiter option on the search pane
recruiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruiter.get_attribute('href'))

#navigate to the search bar and Type Data Science in the search bar and click search
search_field_designation=driver.find_element_by_xpath("//input[@class='sugInp']")
search_field_designation.send_keys("Data Science")
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

#create an empty lists to store the scraping data
Name=[]
Designation=[] 
Company=[] 
Skills_they_hire_for=[] 
Location=[]

#create a function
name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name:
    Name.append(i.text)
designation = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in designation:
    Designation.append(i.text)
company = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    Company.append(i.text)
skill = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill:
    Skills_they_hire_for.append(i.text)
loc = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for i in loc:
    try:
        Location.append(i.text)
    except NoSuchElementException:        
        Location.append("---")

In [20]:
#check the length of the scrape data
print(len(Name),len(Designation),len(Company),len(Skills_they_hire_for),len(Location))

50 50 50 50 48

In [21]:
#create the dataframe from the scraped data
Data_Science=pd.DataFrame({})
Data_Science['Name']=Name[0:48]
Data_Science['Designation']=Designation[0:48]
Data_Science['Company']=Company[0:48]
Data_Science['Skills they Hire for']= Skills_they_hire_for[0:48]
Data_Science['Location']=Location[0:48]
Data_Science

,Name,Designation,Company,Skills they Hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Nagpur
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Noida
32,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
33,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
34,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
39,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
42,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
43,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
44,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
45,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida
46,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Bengaluru / Bangalore

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [22]:
#activate and load the chrome browser
driver=webdriver.Chrome('C:/Users/stead/Documents/KYC/chromedriver.exe')
driver.maximize_window()

#open the URL
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.implicitly_wait(3)

#create an empty lists to store the scraping data
Book_Name=[] 
Author_Name=[] 
Volumes_Sold=[]
Publisher=[] 
Genre=[]

#create a function
book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book:
    Book_Name.append(i.text)
author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author_Name.append(i.text)
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vol:
    Volumes_Sold.append(i.text)
pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub:
    Publisher.append(i.text)
gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gen:
    Genre.append(i.text)
    
# create the dataframe from the scraped data
Novel=pd.DataFrame({})
Novel['Book Name']=Book_Name
Novel['Author Name']= Author_Name
Novel['Volumes Sold']=Volumes_Sold
Novel['Publisher']=Publisher
Novel['Genre']=Genre
Novel

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes
10. Details of

In [23]:
#activate and load the chrome browser
driver=webdriver.Chrome('C:/Users/stead/Documents/KYC/chromedriver.exe')
driver.maximize_window()

#open the URL
driver.get('https://www.imdb.com/list/ls095964455/')
driver.implicitly_wait(3)

#create an empty lists to store the scraping data
Name=[]
Year_Span=[] 
Genre=[] 
Run_Time=[] 
Ratings=[] 
Votes=[]

#create a function
name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name:
    Name.append(i.text)
year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    Year_Span.append(i.text)
gen = driver.find_elements_by_xpath('//span[@class="genre"]')
for i in gen:
    Genre.append(i.text)
runtime = driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in runtime:
    Run_Time.append(i.text)
ratings = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for i in ratings:
    Ratings.append(i.text)
vote = driver.find_elements_by_xpath('//span[@name="nv"]')
for i in vote:
    Votes.append(i.text)
    
#create the dataframe from the scraped data
IMDB=pd.DataFrame({})
IMDB['Name']=Name
IMDB['Year Span']= Year_Span
IMDB['Genre']=Genre
IMDB['Run Time']= Run_Time
IMDB['Ratings']=Ratings
IMDB['Votes']=Votes
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,801,114"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"846,518"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"867,295"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"260,018"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"220,972"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,190"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,640"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"165,287"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.2,"34,552"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"187,911"

# 10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [25]:
#activate and load the chrome browser
driver=webdriver.Chrome('C:/Users/stead/Documents/KYC/chromedriver.exe')
driver.maximize_window()

#open the URL
driver.get('https://archive.ics.uci.edu/')
driver.implicitly_wait(3)

#navigate to view all dataset
dataset=driver.find_element_by_xpath("//span[@class='normal']/b/a")
driver.get(dataset.get_attribute('href'))

#create an empty lists to store the scraping data
Dataset_Name=[] 
Data_Type=[]
Task=[] 
Attribute_Type=[] 
No_of_Instances=[] 
No_of_Attribute=[] 
Year=[]
#create a function
name = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a')
for i in name:
    Dataset_Name.append(i.text)
names = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td/table/tbody/tr/td[2]/p/b/a')
for i in names:
    Dataset_Name.append(i.text)
datatype = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[2]/p')
for i in datatype:
    Data_Type.append(i.text)
task = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[3]/p')
for i in task:
    Task.append(i.text)
att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[4]/p')
for i in att:
    Attribute_Type.append(i.text)
ins = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[5]/p')
for i in ins:
    No_of_Instances.append(i.text)
no_of_att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[6]/p')
for i in no_of_att:
    No_of_Attribute.append(i.text)
year = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[7]/p')
for i in year:
    Year.append(i.text)
datatype = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[2]/p')
for i in datatype:
    Data_Type.append(i.text)
tsk = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[3]/p')
for i in tsk:
    Task.append(i.text)
attr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[4]/p')
for i in attr:
    Attribute_Type.append(i.text)
noi = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[5]/p')
for i in noi:
    No_of_Instances.append(i.text)
noa = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[6]/p')
for i in noa:
    No_of_Attribute.append(i.text)
yr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[7]/p')
for i in yr:
    Year.append(i.text)
    
#create the dataframe from the scraped data
UCI_ML=pd.DataFrame({})
UCI_ML['Dataset Name']=Dataset_Name 
UCI_ML['Data Type']=Data_Type
UCI_ML['Task']=Task
UCI_ML['Attribute Type']=Attribute_Type
UCI_ML['No of Instances']=No_of_Instances
UCI_ML['No of Attribute']= No_of_Attribute
UCI_ML['Year']=Year
UCI_ML

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
3,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
4,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
...,...,...,...,...,...,...,...
288,LastFM Asia Social Network,Multivariate,Classification,,7624,7842,2020
289,Productivity Prediction of Garment Employees,"Multivariate, Time-Series","Classification, Regression","Integer, Real",1197,15,2020
290,LastFM Asia Social Network,Multivariate,Classification,,7624,7842,2020
291,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
292,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020